/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	background-color: #fdfffc;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #011627;
}

a:visited {
	color: #011627;
}

a:active {
	color: #f71735;
	font-weight: bold;
}

.background__primary {
	background-color: #41ead4;
}

.background__secondary {
	background-color: #011627;
	color: #fdfffc;
}

/* Nav bar */

.page-navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	background-color: #41ead4;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#41ead4),
		to(#011627)
	);
	background: linear-gradient(to right, #41ead4, #011627);
}

/* Top and Bottom borders come in */
div.container a {
	text-decoration: none;
	margin: 0px 10px;
	padding: 10px 10px;
	position: relative;
	cursor: pointer;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 2px;
	background: #f71735;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
div.topBotomBordersOut a:after {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 2px;
	background: #f71735;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

div.topBotomBordersOut a:before {
	top: 0px;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}

div.topBotomBordersOut a:after {
	bottom: 0px;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.navigation-list {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.nav__logo {
	width: 250px;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media all and (max-width: 550px) {
	.navigation-list {
		font-size: 12px;
	}

	.navigation-list li {
		margin: 0.5em;
	}

	div.container a {
		padding: 0;
		margin: 0;
	}
}

@media all and (max-width: 750px) {
	h1 {
		font-size: 22px;
	}

	.page-navbar {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.navigation-list {
		padding: 0;
	}

	.nav__logo {
		width: 50%;
	}
}
